In [ ]:
import pandas as pd
df = pd.read_csv('hospitales2.csv', encoding='utf-8') #lo reconoce bien

In [ ]:
coordenadas = [coordenadas.split() for coordenadas in df['WKT']]
# point = [elemento[0] for elemento in coordenadas]
longitude = [float(elemento[1].strip('(')) for elemento in coordenadas]
latitude = [float(elemento[2].strip(')')) for elemento in coordenadas]

In [ ]:
lista = []
for elemento in coordenadas:
    uso = float(elemento[1].strip('('))
    lista.append(uso)

In [ ]:
lista[0:5] == longitude[:5]

In [ ]:
hola = '   HolaPsoypablo    '.strip()
hola

In [ ]:
longitude[0:5], latitude[:5]

In [ ]:
datos = dict(latitude=latitude, longitude = longitude, name=df['DOM_NORMA'], label= df['NOM_MAP'])
pd.DataFrame(datos).to_csv('hospitales_salida.csv', index=False)

In [43]:
datos_df =pd.DataFrame(datos).head(2)

In [44]:
datos_df[['latitude','longitude']]

    latitude  longitude
0 -34.628847 -58.377551
1 -34.594192 -58.412070

In [45]:
datos_df[['longitude', 'latitude']]

   longitude   latitude
0 -58.377551 -34.628847
1 -58.412070 -34.594192

In [ ]:
import csv

In [37]:
tabla = csv.reader( open('hospitales2.csv', encoding = 'utf-8'))
type(tabla)
with open('salida.csv', 'w', encoding='utf-8', newline='') as salida:
    salida_writer = csv.writer(salida)
    next(tabla)
    salida_writer.writerow(['latitude','longitude','name','label'])
    for linea in tabla:
        coordenadas = linea[0][7:-1].split()
        salida_writer.writerow([coordenadas[1], coordenadas[0], linea[3], linea[8]])

In [41]:
coordenadas

['-58.3814293381891', '-34.6419888014928']

In [ ]:
for linea in tabla:
    print(linea)

In [40]:
linea[3], linea[8]

('TALLERES DE REHAB. PSIQUIATRICA', '2215 SUAREZ AV.')