# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [12]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [13]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [14]:
import pandas as pd

In [59]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 521.7+ KB

In [61]:
df.dropna(inplace=True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 493.8+ KB

In [63]:
df.rename(columns={'Código de país':'Cod_pais', 
                    'Nombre del país':'Nom_pais', 
                    'CO2 (kt)':'Emision_CO2',
                    'CO2 per cápita (toneladas métricas)':'Emisiones_CO2_percapita'}, inplace=True)

In [64]:
df['Clave_Hash'] = df['Cod_pais'].apply(hash_function)

In [65]:
df.head()

,Cod_pais,Nom_pais,Región,Año,Emision_CO2,Emisiones_CO2_percapita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910

In [66]:
df['Clave_Hash'] = df.apply(lambda row: hash_function(row['Cod_pais']), axis=1)

In [67]:
df.head()

,Cod_pais,Nom_pais,Región,Año,Emision_CO2,Emisiones_CO2_percapita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [68]:
df_pais = df[['Clave_Hash','Cod_pais','Nom_pais','Región']].drop_duplicates()

In [69]:
df_pais.head()

     Clave_Hash Cod_pais    Nom_pais                   Región
26          910      ABW       Aruba  América Latina y Caribe
87          870      AND     Andorra    Europa y Asia Central
104         858      AFG  Afganistán              Sur de Asia
156         893      AGO      Angola      África subsahariana
208         856      ALB     Albania    Europa y Asia Central

In [70]:
df.drop(['Cod_pais','Nom_pais','Región'], axis=1, inplace=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      9029 non-null   int64
 1   Emision_CO2              9029 non-null   object
 2   Emisiones_CO2_percapita  9029 non-null   float64
 3   Clave_Hash               9029 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 352.7+ KB

In [72]:
df_pais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 26 to 11079
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Clave_Hash  199 non-null    int64
 1   Cod_pais    199 non-null    object
 2   Nom_pais    199 non-null    object
 3   Región      199 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.8+ KB