In [4]:
lista = [0,1,2,3,4,5]
lista[len(lista)-1]

5

In [6]:
for i in range(len(lista)-1): print(i)

0
1
2
3
4

In [ ]:
# búsqueda en árbol binario log2 (n)

# Práctica de pandas

In [2]:
import pandas as pd
import os

os.getcwd()

'c:\\Users\\Pablo\\Documents\\GitProjects\\Henry\\Bootcamp\\DS-M1\\Clase 09'

In [4]:
df = pd.read_csv("datasets\\Salary_Dataset_with_Extra_Features.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22770 entries, 0 to 22769
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             22770 non-null  float64
 1   Company Name       22770 non-null  object
 2   Job Title          22770 non-null  object
 3   Salary             22770 non-null  int64
 4   Salaries Reported  22770 non-null  int64
 5   Location           22770 non-null  object
 6   Employment Status  22770 non-null  object
 7   Job Roles          22770 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.4+ MB

In [6]:
df.head()

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,Full Time,Android
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,Full Time,Android

In [ ]:
# Cuál es el job title de mayor salario?

# mask, for, mayor = max(df.Salary)

In [17]:
mayor = max(df.Salary)
type(mayor)

int

In [49]:
mask1 = (df.Salary == max(df.Salary)) | (df.Salary == min(df.Salary))
df[mask1]

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
18635,3.6,Thapar University,Software Development Engineer (SDE),90000000,1,New Delhi,Full Time,SDE
22563,2.6,Keeves Technologies,Web Developer - Intern,2112,1,Bangalore,Intern,Web

In [41]:
def maxsal():
    df = pd.read_csv("datasets\\Salary_Dataset_with_Extra_Features.csv")
    mask1 = df.Salary == max(df.Salary)
    df_nex = df[mask1]
    valor_importante = df_nex['Job Title']
    return valor_importante

In [43]:
maxsal() == 'Software Development Engineer (SDE)'

18635    True
Name: Job Title, dtype: bool

In [36]:
mask2 = df.Salary <= mayor/200
df[mask2]

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,Full Time,Android
5,4.2,Freelancer,Android Developer,100000,3,Bangalore,Full Time,Android
6,3.7,SQUARE N CUBE,Android Developer,192000,3,Bangalore,Full Time,Android
...,...,...,...,...,...,...,...,...
22765,4.7,Expert Solutions,Web Developer,200000,1,Bangalore,Full Time,Web
22766,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore,Full Time,Web
22767,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore,Full Time,Web
22768,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore,Full Time,Web
22769,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore,Full Time,Web

90000000

In [12]:
df.loc[ df['Salary'].idxmax(), ['Job title'] ]

KeyError: "None of [Index(['Job title'], dtype='object')] are in the [index]"