# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function_v1(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [13]:
type(repr('hola\n')), repr('hola\n')

(str, "'hola\\n'")

In [11]:
eval("'hola'")

'hola'

In [4]:
[index * ord(character) for index, character in enumerate(repr('hola'), start=1)]

[39, 208, 333, 432, 485, 234]

In [108]:
def hash_function(key):
    resultado = len(repr(key))
    i = 0
    for index, character in enumerate(repr(key), start=1):
        resultado = resultado + (index * ord(character))
        i += index
    if repr(key)[1:4] == 'SVK':
        resultado = 61547
    else:
        resultado += i
    return resultado

In [109]:
print(hash_function('AZE'))
print(hash_function_v1('AZE'))
print(hash_function('ABW'))
print(hash_function_v1('ABW'))

930
910
930
910

In [110]:
import pandas as pd

In [111]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1', thousands='.')

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 521.7+ KB

In [113]:
df.dropna(inplace=True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 493.8+ KB

In [115]:
df.rename(columns={'Código de país':'Cod_pais', 
                    'Nombre del país':'Nom_pais', 
                    'CO2 (kt)':'Emision_CO2',
                    'CO2 per cápita (toneladas métricas)':'Emisiones_CO2_percapita'}, inplace=True)

In [116]:
df['Clave_Hash'] = df['Cod_pais'].apply(hash_function)

In [117]:
df.head()

,Cod_pais,Nom_pais,Región,Año,Emision_CO2,Emisiones_CO2_percapita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,930
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,930
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,930
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,930
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,930

In [118]:
df['Clave_Hash'] = df.apply(lambda row: hash_function(row['Cod_pais']+row['Nom_pais']+row['Región']), axis=1)

In [119]:
df.head()

,Cod_pais,Nom_pais,Región,Año,Emision_CO2,Emisiones_CO2_percapita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,51522
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,51522
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,51522
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,51522
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,51522

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [120]:
df['Región'].drop_duplicates()

26              América Latina y Caribe
87                Europa y Asia Central
104                         Sur de Asia
156                 África subsahariana
260     Oriente Medio y Norte de África
520       Asia Oriental y Asia-Pacífico
1248                       Norteamérica
Name: Región, dtype: object

In [121]:
df_pais = df[['Clave_Hash','Cod_pais','Nom_pais','Región']].drop_duplicates()

In [122]:
df_pais.head(20)

,Clave_Hash,Cod_pais,Nom_pais,Región
26,51522,ABW,Aruba,América Latina y Caribe
87,51162,AND,Andorra,Europa y Asia Central
104,32893,AFG,Afganistán,Sur de Asia
156,46393,AGO,Angola,África subsahariana
208,50884,ALB,Albania,Europa y Asia Central
260,163369,ARE,Emiratos Árabes Unidos,Oriente Medio y Norte de África
312,65635,ARG,Argentina,América Latina y Caribe
396,51091,ARM,Armenia,Europa y Asia Central
468,96355,ATG,Antigua y Barbuda,América Latina y Caribe
520,91828,AUS,Australia,Asia Oriental y Asia-Pacífico
572,51344,AUT,Austria,Europa y Asia Central
656,63017,AZE,Azerbaiyán,Europa y Asia Central
678,49816,BDI,Burundi,África subsahariana
728,51673,BEL,Bélgica,Europa y Asia Central
780,44363,BEN,Benín,África subsahariana
832,66240,BFA,Burkina Faso,África subsahariana
896,30102,BGD,Bangladés,Sur de Asia
936,54343,BGR,Bulgaria,Europa y Asia Central
988,85898,BHR,Baréin,Oriente Medio y Norte de África
1040,58266,BHS,Bahamas,América Latina y Caribe

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Cod_pais                 9029 non-null   object
 1   Nom_pais                 9029 non-null   object
 2   Región                   9029 non-null   object
 3   Año                      9029 non-null   int64
 4   Emision_CO2              9029 non-null   float64
 5   Emisiones_CO2_percapita  9029 non-null   float64
 6   Clave_Hash               9029 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 564.3+ KB

In [124]:
df.drop(['Cod_pais','Nom_pais','Región'], axis=1, inplace=True)

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      9029 non-null   int64
 1   Emision_CO2              9029 non-null   float64
 2   Emisiones_CO2_percapita  9029 non-null   float64
 3   Clave_Hash               9029 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 352.7 KB

In [126]:
df.head()

     Año  Emision_CO2  Emisiones_CO2_percapita  Clave_Hash
26  1986      179.683                 2.868319       51522
27  1987      447.374                 7.234964       51522
28  1988      612.389                10.026508       51522
29  1989      649.059                10.634733       51522
30  1990     1840.830                29.620165       51522

In [127]:
df_pais.head()

     Clave_Hash Cod_pais    Nom_pais                   Región
26        51522      ABW       Aruba  América Latina y Caribe
87        51162      AND     Andorra    Europa y Asia Central
104       32893      AFG  Afganistán              Sur de Asia
156       46393      AGO      Angola      África subsahariana
208       50884      ALB     Albania    Europa y Asia Central

In [128]:
df_pais['Clave_Hash']

26        51522
87        51162
104       32893
156       46393
208       50884
          ...
10867     80894
10919     57372
10971    146869
11027     46367
11079     53053
Name: Clave_Hash, Length: 199, dtype: int64

In [129]:
df_pais['Clave_Hash'].value_counts()

51522    1
60169    1
46507    1
83313    1
49510    1
        ..
68387    1
86931    1
47824    1
58152    1
53053    1
Name: Clave_Hash, Length: 199, dtype: int64

In [130]:
(df_pais['Clave_Hash'] == 61546) | (df_pais['Clave_Hash'] == 61547) # or, & and

26       False
87       False
104      False
156      False
208      False
         ...
10867    False
10919    False
10971    False
11027    False
11079    False
Name: Clave_Hash, Length: 199, dtype: bool

In [131]:
df_pais[(df_pais['Clave_Hash'] == 61546) | (df_pais['Clave_Hash'] == 61547)]

      Clave_Hash Cod_pais    Nom_pais                 Región
6805       61546      MNE  Montenegro  Europa y Asia Central
9235       61547      SVK  Eslovaquia  Europa y Asia Central

In [132]:
df_pais.merge(df, on=['Clave_Hash'])

,Clave_Hash,Cod_pais,Nom_pais,Región,Año,Emision_CO2,Emisiones_CO2_percapita
0,51522,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319
1,51522,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964
2,51522,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508
3,51522,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733
4,51522,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165
...,...,...,...,...,...,...,...
9024,53053,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867
9025,53053,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255
9026,53053,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521
9027,53053,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073
9028,53053,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698

In [133]:
df.to_csv('ejemplo.csv')

In [135]:
df_pais

,Clave_Hash,Cod_pais,Nom_pais,Región
26,51522,ABW,Aruba,América Latina y Caribe
87,51162,AND,Andorra,Europa y Asia Central
104,32893,AFG,Afganistán,Sur de Asia
156,46393,AGO,Angola,África subsahariana
208,50884,ALB,Albania,Europa y Asia Central
...,...,...,...,...
10867,80894,YEM,Yemen,Oriente Medio y Norte de África
10919,57372,ZAF,Sudáfrica,África subsahariana
10971,146869,COD,Congo (República Democrática),África subsahariana
11027,46367,ZMB,Zambia,África subsahariana
11079,53053,ZWE,Zimbabue,África subsahariana